/* 
    Document   : Ankiety
    Created on : 2014-07-02, 11:14:44
    Author     : Jastrzab
    Description:
        Purpose of the stylesheet follows.
*/
body {
    background-color    : #1a4466;
}


.mainDiv{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.Kompetencja {
    float: left;
    width:200px;
    text-align: left;
    padding-right: 0.5em;
}
.Radiogroup {
    text-align: right;
    width:200px;
}
.RadioDiv{
    padding-bottom: 1.5em;
    width:500px;
    height:50px;
}
.TextareaLabel{
    float: left;
    width: 300px;
    text-align: left;
    padding-top: 0.5em;
}

img{
    padding-right: 0.5em;
}

.languageButton {
    position        : fixed;
    right           : 20px;
    top             : 20px;
    cursor          : pointer;
}

.typyProjektów{
    font-size: small;
    padding-bottom: 1.5em;

}

.checkBoxL{
    width: 220px
}

.checkBoxR{
    padding-left: 5px;
}

textArea{
    padding-bottom: 12px;
}
.btns{
    margin: 0 auto;
    text-align: center;
}


/* -------------- added by Marcin -------------- */

div.containers {
    padding-top      : 40px;
}

div.checboxy > label {
    height          : 32px;
    display         : block;
    text-indent     : 4px;
    line-height     : 30px;
}

div.sliders {
    padding-top     : 10px;
}

div.form-group .control-label {
    line-height     : 34px;
}
